---
interface Props {
  company: string;
  title: string;
  date: string;
  description: string[];
  skills?: string[];
  color?: 'blue' | 'green' | 'yellow' | 'mauve' | 'default';
}

const {
  company,
  title,
  date,
  description,
  skills = [],
  color = 'default',
} = Astro.props;

const colorMap = {
  blue: {
    dot: 'bg-blue',
    text: 'text-blue',
    border: 'border-blue/30',
    background_hover: 'hover:bg-blue',
  },
  green: {
    dot: 'bg-green',
    text: 'text-green',
    border: 'border-green/30',
    background_hover: 'hover:bg-green',
  },
  yellow: {
    dot: 'bg-yellow',
    text: 'text-yellow',
    border: 'border-yellow/30',
    background_hover: 'hover:bg-yellow',
  },
  mauve: {
    dot: 'bg-mauve',
    text: 'text-mauve',
    border: 'border-mauve/30',
    background_hover: 'hover:bg-mauve',
  },
  default: {
    dot: 'bg-lavender',
    text: 'text-lavender',
    border: 'border-lavender/30',
    background_hover: 'hover:bg-lavender',
  },
};

const theme = colorMap[color] || colorMap.default;
---

<div class="relative pl-8 md:pl-10 pb-12 group last:pb-0 gsap-experience-item">
  {/* The Timeline Dot */}
  <div
    class={`absolute size-2.5 rounded-full -left-1.5 top-1.5 ring-6 ring-base ${theme.dot}`}
  >
  </div>

  {/* Header: Date and Badge (Company) */}
  <div class="flex flex-wrap items-center gap-3 mb-2">
    <span class="text-sm text-gray-400 font-medium">{date}</span>
    <span
      class={`font-bebas tracking-wider leading-none text-md font-semibold px-2 pt-1.5 pb-0.5 rounded border uppercase ${theme.text} ${theme.border}`}
    >
      {company}
    </span>
  </div>

  {/* Job Title */}
  <h3 class="text-xl md:text-2xl font-bold text-foreground mb-3">{title}</h3>

  {/* Description */}
  <div class="flex flex-col gap-2 text-muted-foreground mb-4">
    {description.map((item) => <p class="text-text leading-relaxed">{item}</p>)}
  </div>

  {/* Skills */}
  {
    skills && skills.length > 0 && (
      <div class="mb-4">
        <h4 class="text-sm font-medium text-gray-400 mb-3">Skills:</h4>
        <div class="flex flex-wrap gap-2">
          {skills.map((skill) => (
            <span
              class={`text-xs border ${theme.text} ${theme.border} hover:text-base ${theme.background_hover} cursor-pointer px-3 py-0.5 rounded-md transition-colors`}
            >
              {skill}
            </span>
          ))}
        </div>
      </div>
    )
  }

  <div
    class="mt-4 pt-6 border-b border-gray-500/40 group-last:border-none group-last:pt-0 group-last:mt-0"
  >
  </div>
</div>
